@using EmployeeManagement.Utils.Constant
@using EmployeeManagement.Models.Entity
@model List<AwardDiploma>


<partial name="_Notification"/>
<div class="card shadow border-0 mt-4 mb-5">
    <div class="text-center mb-3">
        <a asp-action="Index" asp-controller="Employee" class="btn btn-dark my-3" style="min-width:200px" asp-route-page="1" asp-route-size="@Constant.SizeOfEmployeePage">Go back</a>
    </div>
    <div class="card-header bg-success bg-gradient ms-0 py-3" style="border-top-left-radius : 10px; border-top-right-radius: 10px">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-light text-uppercase mb-0">Diploma</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @*<div class="container mb-3">
            <div class="row-cols-8 text-end">
                <a asp-controller="AwardDiploma" asp-action="Create" asp-route-id="@currentId" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add new diploma for this employee
                </a>
            </div>
        </div>*@
        @if (Model.Count == 0)
        {
            <div class="my-3 d-flex justify-content-center">There is no diploma</div>
        }
        @if (Model.Count != 0)
        {
            <table class="table table-bordered table-striped table-secondary mt-4">
                <thead>
                <tr>
                    @* <th scope="col">Id</th> *@
                    @* <th scope="col">Employee</th> *@
                    <th scope="col">Diploma</th>
                    <th scope="col">Diploma Grating Unit</th>
                    <th scope="col">Granting Date</th>
                    <th scope="col">Expire Date</th>
                </tr>
                </thead>
                <tbody>
                @foreach (AwardDiploma award in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        @* <td style="vertical-align:middle"> *@
                        @*     @award.Id *@
                        @* </td> *@
                        @* <td style="vertical-align:middle"> *@
                        @*     @award.EmployeeId  @award?.Employee?.Name *@
                        @* </td> *@
                        <td style="vertical-align:middle">
                            @award?.Diploma?.Name
                        </td>
                        <td style="vertical-align:middle">
                            @award?.DiplomaGrantingUnit?.Name
                        </td>
                        <td style="vertical-align:middle">
                            @award?.GrantingDate.Day / @award?.GrantingDate.Month / @award?.GrantingDate.Year
                        </td>
                        <td style="vertical-align:middle">
                            @award?.Duration
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}